.section-content {
  padding: 100px 0;
  position: relative;
  background-color: white;
  color: $brand-color-secondary;
  line-height: 1.4em;
  overflow: hidden;
  font-size: 14px;

  .description {
    border-left: 1px solid $brand-color-primary;
    padding-left: 15px;
    p {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .readmore {
    padding-top: 25px;
  }

  .animated-image {
    @media(min-width: 1025px) {
      position: absolute;
      right: 0;
      max-width: 50vw;
      width: 900px;
    }
    padding-top: 50px;
    text-align: right;
    right: -50px;
    position: relative;

    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  @media(max-width: 1024px) {
    .row {

    }
    .col {
      width: 100%;
      flex: auto;
    }
  }

  &.reverse {
    text-align: right;

    .description {
      border-left: 0;
      padding-left: 0;
      border-right: 1px solid $brand-color-primary;
      padding-right: 15px;
    }

    .section-title {
      &:after {
        left: auto;
        right: 0;
      }
    }

    .row {
      flex-direction: row-reverse;
    }

    .animated-image {
      text-align: left;
      left: -50px;
      right: auto;
      @media(min-width: 1025px) {
        right: auto;
        left: 0;
      }
    }
  }

}