.section-categories {

}

.section-categories_wrapper {
  display: flex;

  .category-item {
    flex: 1;

    .inner {
      @include flex-align(center, center);
      position: relative;
      overflow: hidden;
      min-height: 500px;
      text-decoration: none;
      padding: 20px;
      flex-direction: column;

      .bg-image {
        @include full-cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 2s;

        &:before {
          @include full-cover;
          content: "";
          background-color: rgba(black, 0.6);
          transition: background-color 2s;
        }

      }

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px solid white;
        width: 100%;
        height: 100%;
        transition: width .3s .3s, height .3s .3s, opacity .3s;
        opacity: 0;
      }

      .category-name {
        position: relative;
        font-size: 2em;
        color: white;
        font-weight: 700;
        text-align: center;
        line-height: 1em;
      }

      .category-description {
        position: relative;
        text-transform: uppercase;
        color: white;
        font-weight: 300;
        margin: 5px 0 0;
        opacity: 0;
      }

      &:hover {
        .bg-image {
          transform: scale(1.1);
          transition: transform 5s;

          &:before {
            background-color: rgba(black, 0.8);
          }
        }

        .category-description {
          opacity:.6;
        }

        &:after {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          opacity: .5;
          transition: width .3s, height .3s, opacity 0s;
        }

        @include animate-header;
      }
    }

  }
}