.effect {
  &:not(.visible) {
    visibility: hidden;
    animation-name: none;
    transition: animation-name 0s .5s;
  }

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 45px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1.5s;
}