
.icon-phone:before { content: '\e800'; } /* '' */
.icon-square:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-tags:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-building:before { content: '\f1ad'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */