.section-project-gallery {
  padding: 100px 50px 50px;
  text-align: center;

  @media(max-width: 768px) {
    padding: 100px 15px 50px;
  }

  .project-gallery {
    flex-wrap: wrap;
    @include flex-align(center, center);
    margin: 0 -15px;
  }
  .gallery-item {
    padding: 15px;
    display: inline-block;
    width: 100%;
    .gallery-item_bg {
      padding-top: 55.3%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.vertical {
      .gallery-item_bg {
        padding-top: 133.2%;
      }
      @media(min-width: 769px) {
        width: 50%;
      }
    }
  }
}